{% extends "template.html" %}

{% block head %}

 <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">

{% endblock %}

{% block content %}
    <div class='row'>

        <div class='col-md-12'>
            {# One-time system messages called Flash messages #}
                {% block flash_messages %}
                    {%- with messages = get_flashed_messages(with_categories=true) -%}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category=='error' %}
                                    {% set category='danger' %}
                                {% endif %}
                                <div class="alert alert-{{category}}">{{ message|safe }}</div>
                            {% endfor %}
                        {% endif %}
                    {%- endwith %}
                {% endblock %}

            <!-- Box -->
            <div class="box box-primary">
            	<form>
                <div class="box-header with-border">
                	<div class="form-group col-md-6">
                	   <label for="name">Judul Pengaduan</label>
                       <input type="text" id="name" class="form-control" name="title">
                     </div>
                     <div class="form-group col-md-6">
                	   <label for="kategori">Kategori</label>
                       <select id="kategori" class="form-control" name="kategori">
                       		<option>Ruangan</option>
                       		<option>Tempat Parkir</option>
                       		<option>Kantin</option>
                       </select>
                     </div>
                </div>
                <div class="box-body">
                	<div class="form-group col-md-12">
                		<textarea class="form-control wysi"></textarea>
                	</div>
                	<div class="form-group col-md-6">
                		<label for="name">Lampiran</label>
                		<input type="file" id="lampiran" class="form-control" name="lampiran">
                	</div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                	<div class="form-group col-md-12">
                		<input type="submit" class="btn btn-defult" name="submit">
                	</div>
                </div><!-- /.box-body -->
                </form>
            </div><!-- /.box -->
        </div><!-- /.col -->

    </div><!-- /.row -->
{% endblock %}

{% block footer %}

<!-- Bootstrap WYSIHTML5 -->
<script src="{{ url_for('static', filename='plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>

<script>
  $(function () {
    $('.wysi').wysihtml5();
  })
</script>

{% endblock %}