{% extends "template.html" %}

{% block head %}

 <!-- DataTables -->
  <link rel="stylesheet" href="http://jurnal.lapakunique.com/AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

{% endblock %}

{% block content %}
    <div class='row'>

        <div class='col-md-12'>
            {# One-time system messages called Flash messages #}
                {% block flash_messages %}
                    {%- with messages = get_flashed_messages(with_categories=true) -%}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category=='error' %}
                                    {% set category='danger' %}
                                {% endif %}
                                <div class="alert alert-{{category}}">{{ message|safe }}</div>
                            {% endfor %}
                        {% endif %}
                    {%- endwith %}
                {% endblock %}

            <!-- Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{page_title}}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table id="pengaduan" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>Tanggal Pengaduan</th>
                          <th>Atas Nama</th>
                          <th>Kategori</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for x in range(20) %}
                                <tr>
                                  <td>10 Januari 2019</td>    
                                  <td>Larry Page</td>
                                  <td>Ruang kelas</td>
                                  <td><label class="label bg-purple">menunggu_respond</label></td>
                                  <td><a href="#" class="btn btn-danger btn-small">hapus/batalkan</a> <a href="{{ url_for('detail_pengaduan') }}" class="btn btn-success btn-small">lihat</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table> 
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->

    </div><!-- /.row -->
{% endblock %}

{% block footer %}

<!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
    <script src="http://jurnal.lapakunique.com/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="http://jurnal.lapakunique.com/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            var table = $('#pengaduan').DataTable();
        });
    </script>



{% endblock %}