{% extends "template.html" %}

{% block head %}

 <!-- DataTables -->
  <link rel="stylesheet" href="http://jurnal.lapakunique.com/AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

{% endblock %}

{% block content %}
    <div class='row'>

        <div class='col-md-12'>
            {# One-time system messages called Flash messages #}
                {% block flash_messages %}
                    {%- with messages = get_flashed_messages(with_categories=true) -%}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category=='error' %}
                                    {% set category='danger' %}
                                {% endif %}
                                <div class="alert alert-{{category}}">{{ message|safe }}</div>
                            {% endfor %}
                        {% endif %}
                    {%- endwith %}
                {% endblock %}

            <!-- Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{page_title}}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table id="user" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>Email</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Hak Akses</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                  <td>{{ user.email }}</td>    
                                  <td>{{ user.first_name }}</td>
                                  <td>{{ user.last_name }}</td>
                                  <td>{% for role in user.roles %}{{role.name}}{% endfor %}</td>
                                  <td>
                                  {% if current_user.has_roles('Admin') %}
                                  <a href="{{ url_for('user_detail',user_id=user.danger) }}" class="btn btn-danger btn-sm">hapus</a>
                                  {% endif %}
                                  </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table> 
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->

    </div><!-- /.row -->
{% endblock %}

{% block footer %}

<!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
    <script src="http://jurnal.lapakunique.com/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="http://jurnal.lapakunique.com/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
        // $(document).ready(function() {
        //     var table = $('#user').DataTable( { 
        //         "processing": true,
        //         "serverSide": true, 
        //         "ajax": "{{ url_for('api_user',select='all') }}",
        //         "order": [1, 'asc'],
        //         /* render name column strings as links */
        //         "columnDefs": [{
        //             "targets": 5,
        //             "render": function (data, type, row, meta) {
        //                 return "<a href='{{ url_for('user') }}" + data[5] + "/' class='btn btn-sm btn-danger'>Hapus</a>";
        //             }
        //         },
        //         {
        //             "searchable": false,
        //             "orderable": false,
        //             "targets": 0
        //         }
        //         ]
        //     });

        //     table.on( 'order.dt search.dt', function () {
        //         table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
        //             cell.innerHTML = i+1;
        //         } );
        //     } ).draw();
        // });

        $(document).ready(function() {
            var table = $('#user').DataTable();
        });
    </script>



{% endblock %}