<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{ url_for('static', filename='dist/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{ current_user.first_name or current_user.email }}</p>
          

          
        </div>
      </div>
     
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
              <li>
                <a href="{{ url_for('user') }}">
                  <i class="fa fa-user-o"></i> <span>Users</span>
                </a>
              </li>
              <li>
                <a href="{{ url_for('gambar') }}">
                  <i class="fa fa-file-image-o"></i> <span>Konversi Gambar</span>
                </a>
              </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>